.fish-divider {
  padding-inline: 1em;
  margin: 24px 0;
  min-width: 100%;
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 10px 0;
  line-height: 22px;
  color: #f0f0f0;
  border-block-start: 1px solid red;
}

.fish-divider-dashed {
  background: none;
  /* border-color: #f0f0f0; */
  border-style: dashed;
  border-width: 1px 0 0;
}
